header ul{
    list-style-type: none;
}

header a {
    text-decoration: none;
    color:black;
    font-weight:bold ;
}

.header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center ;
    width:100%;
    margin: 0 auto;
    padding: 1.5rem 0;    
}

